<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sequence Media</title>
		<link rel="shortcut icon" sizes="16x16 32x32 64x64" href="/assets/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://use.typekit.net/uqt3mme.css" />
		<link rel="stylesheet" href="/assets/stylesheets/app-1.0.5.css" />
	</head><body role="document">
		<div id="app">{{{app}}}</div>
		<script type="application/json" id="initial-state">{{{json state}}}</script>
		<script type="text/javascript" src="/assets/javascripts/app-1.0.5.js"></script>
	</body>
</html>
